<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>sisem</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EmpController</display-name>
    <servlet-name>EmpController</servlet-name>
    <servlet-class>sis.com.controller.EmpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpController</servlet-name>
    <url-pattern>/emp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeptController</display-name>
    <servlet-name>DeptController</servlet-name>
    <servlet-class>sis.com.controller.DeptController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeptController</servlet-name>
    <url-pattern>/dept</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpsearchController</display-name>
    <servlet-name>EmpsearchController</servlet-name>
    <servlet-class>sis.com.controller.EmpsearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpsearchController</servlet-name>
    <url-pattern>/empsearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpdeptforsearchController</display-name>
    <servlet-name>EmpdeptforsearchController</servlet-name>
    <servlet-class>sis.com.controller.EmpdeptforsearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpdeptforsearchController</servlet-name>
    <url-pattern>/empdeptforsearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpdeptwiseController</display-name>
    <servlet-name>EmpdeptwiseController</servlet-name>
    <servlet-class>sis.com.controller.EmpdeptwiseController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpdeptwiseController</servlet-name>
    <url-pattern>/empdeptwise</url-pattern>
  </servlet-mapping>
</web-app>